@using Genesis;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


@foreach (var mouse in new GenesisContext("Data Source=(localdb)\\MSSQLLocalDB;Database=Genesis.GenesisContext;Integrated Security=True;MultipleActiveResultSets=True").Mice)
{
  @mouse.Name
}